html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: url('./assets/images/macbookInDark.jpg') no-repeat center center fixed;
  background-size: cover;
}

.my-portrait {
  background-image: linear-gradient(180deg, rgba(42, 123, 155, 0) 0%, rgba(48, 48, 48, 0.1) 44%, rgba(0, 0, 0, 0.75) 100%), url('./assets/images/maz-ghibli.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-row {
  display: flex;
  width: 90vw;
  height: 80vh;
  align-items: center;
  align-content: center;
  color: white;

}

.col1 {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  /* width: 75px; */
  /* flex:1; */
  height: 70vh;
  background-color: #151515;
}

.col2 {
  display: flex;
  /* width: 300px; */
  /* flex: 4; */
  padding-left: 10px;
  padding-right: 10px;
  height: 80vh;
  justify-content: center;
  border-radius: 15px;
}

.portray-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.name-1 {
  font-size: 35px;
}

.name-2 {

  font-size: 32px;
}

.name-font {
  font-family: "Sixtyfour Convergence", sans-serif;
  color: rgb(189, 224, 255);
  text-align: center;
}

.job-title {
  font-family: "Markazi Text", serif;
  text-align: center;
  font-weight: 100;
  font-size: larger;
  color: rgb(49, 156, 228);
}

.col3 {
  width: 0%;
  height: 70vh;
  background-color: #151515;
  overflow: hidden;
  transition: width 0.4s ease;
}

.col3.expanded {
  width: 70%;
  /* flex-grow: 1; */
  transition: width 0.4s ease;
}

.quick-nav {
  flex-direction: column;
  color: rgb(141, 141, 141);
  align-items: center;
  justify-content: center;
}

.quick-nav i {
  cursor: pointer;
  transition: all 0.2s ease;
}

.theme-color {
  color: #0d6efd;
  /* Bootstrap primary color */
  /* cursor: pointer; */
}

.download-icon {
  color: #c27508;
  /* Bootstrap primary color */
  /* cursor: pointer; */
}

.scroll-hidden {
  overflow-y: scroll; /* Enables vertical scroll */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  padding: 8%;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.sample-font{
  font-family: "Sixtyfour Convergence", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.text-header-color{
  color: rgb(217, 223, 255);
  margin: 0px;
}

.text-color{
  color: rgb(199, 199, 199);
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(8vh + 8vw);
  width: calc(8vh + 8vw);
  margin: 10px;
}

.icon-skill-text{
  font-size: calc(1vh + 1vw);
}



.scroll-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* optional */
  white-space: nowrap;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
  -webkit-mask-image: linear-gradient(to right, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,1) 30%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to right, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,1) 30%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%);
  
}
.skills-row{
  /* width: 100%; */
  /* background-color: #0d6efd; */
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  justify-content: center;
  padding-inline: 10%;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;          /* Two rows */
  width: max-content;       /* Key for horizontal overflow */
}

.skill-icon-container{
  margin: 1px;
  height: 20vh;
  width: 20vh;
  background-color: blue;
  padding-inline: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-icon-image{
  display: flex;

}